
<html>
<head>
  <title>fluo bench / definitions</title>
  <link href="/css/fluo-bench.css?nocache=<%= Time.now.to_f %>" rel="Stylesheet" type="text/css" />
</head>
<body>

  <div class="menubar">
    <div class="menubar_links">
      <a class="menubar_link" href="/defs">defs</a>
      <a class="menubar_link" href="#" onclick="FluoEditor.undo('editor'); return false;">undo</a>
    </div>
  </div>

  <h3>the definitions under public/</h3>
  <div id="all_definitions">
    <ul>
<%= pdefs %>
    </ul>
  </div>
</body>
</html>

