
.tred_expression_atts,.tred_text,.tred_expression_name {
  color: #888;
  font-family: Courier;
  font-size: 14px;
  /*margin: 20px 10px;*/
}
.tred_expression_name {
  color: blue;
}
.tred_expression_atts {
  margin-left: 7px;
}
input {
  color: #888;
  font-family: Courier;
  font-size: 14px;
  border: 0px;
  margin: 0px;
  width: 400px;
}

